{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/filerecommend.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    
    <title>Choose</title>
</head>
<script src="https://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<body>
    <video muted autoplay loop >
        <source src="{{ MEDIA_URL }}register_back.mp4" type="video/mp4">
    </video>
    <div id="inputBox">
        <div class="inputText">
            <form action={% url 'SEARCH' %} method="get">
                <input type="text" name="search" placeholder="输入电影名称、导演或者演员，快速检索电影" />
                <button type="submit" class="inputButton" >搜索</button>
            </form>
        </div>
    </div>
    </div>
    <div id="bigBox">
        <h1>根据您的兴趣，我们为您推荐以下电影</h1>
            <ul class="box listchange1">
                <li>
                    <td>
                        <img src="{% static "img/fangniuban.jpg" %}" align="bottom">
                        <p>放牛班的春天</p>
                    </td>
                </li>
                <li>
                    <td>
                        <img src="{% static "img/green_book.jpg" %}" align="bottom">
                        <p>绿皮书</p>
                    </td>
                </li>
                <li>
                    <td>
                        <img src="{% static "img/iron_man.jpg" %}" align="bottom">
                        <p>钢铁侠</p>
                    </td>
                </li>
                <li>
                    <td>
                        <img src="{% static "img/robot.jpg" %}" align="bottom">
                        <p>机器人总动员</p>
                    </td>
                </li>
                <li>
                    <td>
                        <img src="{% static "img/beautiful_mind.jpg" %}" align="bottom">
                        <p>美丽心灵</p>
                    </td>
                </li>
                <li>
                    <td>
                        <img src="{% static "img/flipped.jpg" %}" align="bottom">
                        <p>怦然心动</p>
                    </td>
                </li>
                <li>
                    <td>
                        <img src="{% static "img/wujiandao.jpg" %}" align="bottom">
                        <p>无间道</p>
                    </td>
                </li>
                <li>
                    <td>
                        <img src="{% static "img/gone_girl.jpg" %}" align="bottom">
                        <p>消失的爱人</p>
                    </td>
                </li>
            </ul>
            <ul class="box listchange2">
                <li>
                    <td>
                        <img src="{% static "img/bawangbieji.jpg" %}" align="bottom">
                        <p>霸王别姬</p>
                    </td>
                </li>
                <li>
                    <td>
                        <img src="{% static "img/jishengchong.jpg" %}" align="bottom">
                        <p>寄生虫</p>
                    </td>
                </li>
                <li>
                    <td>
                        <img src="{% static "img/fast_furious.jpg" %}" align="bottom">
                        <p>速度与激情</p>
                    </td>
                </li>
                <li>
                    <td>
                        <img src="{% static "img/tangrenjie.jpg" %}" align="bottom">
                        <p>唐人街探案</p>
                    </td>
                </li>
                <li>
                    <td>
                        <img src="{% static "img/medicine_god.jpg" %}" align="bottom">
                        <p>我不是药神</p>
                    </td>
                </li>
                <li>
                    <td>
                        <img src="{% static "img/liulangdiqiu.jpg" %}" align="bottom">
                        <p>流浪地球</p>
                    </td>
                </li>
                <li>
                    <td>
                        <img src="{% static "img/dahufa.jpg" %}" align="bottom">
                        <p>大护法</p>
                    </td>
                </li>
                <li>
                    <td>
                        <img src="{% static "img/forrest_gump.jpg" %}" align="bottom">
                        <p>阿甘正传</p>
                    </td>
                </li>
            </ul>
            <div><button class="inputButton" >换一批</button></div>
    </div>

<script>    
    //代表第一次换的是第二组
    var listitem = 2;
    //这是要换的批数
    var listitemmax = 2;
    $(".inputButton").click(function() {

        $(".listchange" + listitem).siblings("ul").css("display", "none");
        $(".listchange" + listitem).css("display", "flex");
        if (listitem < listitemmax) {
            listitem++;
        } else {
            listitem = 1;
        }
    });
    
</script>
</body>
</html>