{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static "css/login_style.css" %}">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>
        <title>Login</title>
        
    </head>
    <body>
        <video width="100%" muted autoplay loop>
            <source src="{{ MEDIA_URL }}login_back.mp4" type="video/mp4">
        </video>
        <div id="leftBox">
            <h1>Ask Movie</h1>
            <h2>Like movie just like like your liker</h2>
        </div>
        <div id="bigBox">
            <h1>LOGIN</h1>
            <div class="inputBox">
                <form action={% url 'LOGIN' %} method="post">
                    {% csrf_token %}
                <div class="inputText">
                    <input type="text" placeholder="Username" name="username" required/>
                </div>
                <div class="inputText">
                    <input type="password" placeholder="Password" name="password" required/>
                </div>
                <button type="submit" class="inputButton" value="LOGIN">login</button>
                    <p style="color: aliceblue" >{{ error }}</p>
                </form>
            </div>
        </div>


    </body>
</html>