{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "css/register_choose.css" %}">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>
    <title>Choose</title>

</head>

<body>
    <video muted autoplay loop >
        <source src="{{ MEDIA_URL }}login_back.mp4" type="video/mp4">
    </video>
    <div id="bigBox">
        <h1>请选择至少一部您喜欢的电影</h1>
                <form action={% url 'CHOOSE' %} method="POST">
                    {% csrf_token %}
            <ul class="box">
                <li>
                    <td>
                        <img src="{% static "img/fangniuban.jpg" %}" align="bottom">
                        <p><input type="checkbox" class="check_box" name='favor_movie' value='fangniuban'>放牛班的春天</p>
                    </td>
                </li>
                <li>
                    <td>
                        <img src="{% static "img/green_book.jpg" %}" align="bottom">
                        <p><input type="checkbox" class="check_box" name='favor_movie' value='green_book'>绿皮书</p>
                    </td>
                </li>
                <li>
                    <td>
                        <img src="{% static "img/iron_man.jpg" %}" align="bottom">
                        <p><input type="checkbox" class="check_box" name='favor_movie' value='iron_man'>钢铁侠</p>
                    </td>
                </li>
                <li>
                    <td>
                        <img src="{% static "img/robot.jpg" %}" align="bottom">
                        <p><input type="checkbox" class="check_box" name='favor_movie' value='robot'>机器人总动员</p>
                    </td>
                </li>
                <li>
                    <td>
                        <img src="{% static "img/beautiful_mind.jpg" %}" align="bottom">
                        <p><input type="checkbox" class="check_box" name='favor_movie' value='beautiful_mind'>美丽心灵</p>
                    </td>
                </li>
                <li>
                    <td>
                        <img src="{% static "img/flipped.jpg" %}" align="bottom">
                        <p><input type="checkbox" class="check_box" name='favor_movie' value='flipped'>怦然心动</p>
                    </td>
                </li>
                <li>
                    <td>
                        <img src="{% static "img/wujiandao.jpg" %}" align="bottom">
                        <p><input type="checkbox" class="check_box" name='favor_movie' value='无间道'>无间道</p>
                    </td>
                </li>
                <li>
                    <td>
                        <img src="{% static "img/gone_girl.jpg" %}" align="bottom">
                        <p><input type="checkbox" class="check_box" name='favor_movie' value='gone_girl'>消失的爱人</p>
                    </td>
                </li>
            </ul>
            <ul class="box">
                <li>
                    <td>
                        <img src="{% static "img/bawangbieji.jpg" %}" align="bottom">
                        <p><input type="checkbox" class="check_box" name='favor_movie' value='霸王别姬'>霸王别姬</p>
                    </td>
                </li>
                <li>
                    <td>
                        <img src="{% static "img/jishengchong.jpg" %}" align="bottom">
                        <p><input type="checkbox" class="check_box" name='favor_movie' value='寄生虫'>寄生虫</p>
                    </td>
                </li>
                <li>
                    <td>
                        <img src="{% static "img/fast_furious.jpg" %}" align="bottom">
                        <p><input type="checkbox" class="check_box" name='favor_movie' value='fast_furious'>速度与激情</p>
                    </td>
                </li>
                <li>
                    <td>
                        <img src="{% static "img/tangrenjie.jpg" %}" align="bottom">
                        <p><input type="checkbox" class="check_box" name='favor_movie' value='唐人街探案'>唐人街探案</p>
                    </td>
                </li>
                <li>
                    <td>
                        <img src="{% static "img/medicine_god.jpg" %}" align="bottom">
                        <p><input type="checkbox" class="check_box" name='favor_movie' value='medicine_god'>我不是药神</p>
                    </td>
                </li>
                <li>
                    <td>
                        <img src="{% static "img/liulangdiqiu.jpg" %}" align="bottom">
                        <p><input type="checkbox" class="check_box" name='favor_movie' value='流浪地球'>流浪地球</p>
                    </td>
                </li>
                <li>
                    <td>
                        <img src="{% static "img/dahufa.jpg" %}" align="bottom">
                        <p><input type="checkbox" class="check_box" name='favor_movie' value='大护法'>大护法</p>
                    </td>
                </li>
                <li>
                    <td>
                        <img src="{% static "img/forrest_gump.jpg" %}" align="bottom">
                        <p><input type="checkbox" class="check_box" name='favor_movie' value='forrest_gump'>阿甘正传</p>
                    </td>
                </li>
            </ul>
            <button type="submit" class="inputButton" >选好了，开启电影之旅</button>
        </form>
    </div>
<script>
$(".inputButton").click(function(){
    if($("input[class='check_box']:checked").length == 0)

    {
        alert("请至少选择一部您喜爱的电影！");
        return false;
    }
});
    </script>
</body>

</html>