{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!--  author:ethan997 e-mail:ethan.997@foxmail.com-->
    <meta charset="UTF-8">
    <title>Ask Movie</title>
    <!--[if  IE ]>
    　　　　<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="{% static "css/welcome_style.css" %}">
</head>
<body>
        <div class="text-center w-mian">
            <video width="100%" muted autoplay loop>
            <source src="http://cdn.moji.com/websrc/video/video621.mp4" type="video/mp4">
        </video>
            <h1 >Ask Movie</h1>
            <h3 style="margin-left: 20%">——<img src="{% static "img/favicon.ico" %}">&nbsp<span id="w-temp">您专属的电影推荐专家</span></h3>
            <div class=" box center-block ">
                <div class="login " >
                    <button id="wBtn" type="button" class="btn btn-danger  wBtn">登录</button>
                </div>
                <div class="login " >
                    <button id="rBtn" type="button" class="btn btn-danger  wBtn">注册</button>
                </div>

            </div>
        </div>
</body>

</html>
<script>
    $("#wBtn").click(function () {
        location.href="/login/";
    })
</script>
<script>
    $("#rBtn").click(function () {
        location.href="/register/";
    })
</script>